header {
    background-color: $primary;
    padding: 32px 24px;
    position: fixed;
    left: 0px;
    top: 0px;
    height: 100vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;

    .header-logo {
        margin-bottom: 54px;
    }

    .header-nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-grow: 1;

        a {
            margin-bottom: 54px;

            &.is-active {
                img {
                    opacity: 0.5;
                }
            }
        }
    }

    .header-user {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .p-button {
            padding: 0px;
            background-color: transparent;
        }

        a {
            margin-bottom: 28px;

            &.is-active {
                img {
                    opacity: 0.5;
                }
            }

            &:last-child {
                margin-bottom: 0px;
            }
        }
    }
}
